<div class="border-t-2 border-grey-800 w-full mt-7" />
<footer class="w-full flex justify-center items-center px-10">
  <div class="w-full flex justify-between items-center">
    <span class="text-gray-500 text-sm">copyright © 2019    HodlInfo.com</span>
    <span class="text-gray-500 text-sm">Support</span>
  </div>
</footer>

  </body>
</html>
